<div class="col-xs-12 col-sm-8 col-md-9 content-column">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="grid">
      <div class="row">
        {{ range $fileName, $e := $.Site.Data.books }}
        {{ $bookPath := printf "%s%s" "/portfolio/" $fileName }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                <div class="box-masonry">
                      {{ if eq .showOnlyImage true }}
                      <a href="{{ $bookPath  }}" title="" class="box-masonry-image with-hover-overlay">
                      {{ else }}
                      <a href="{{ $bookPath }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                      {{ end }}
                      {{ if isset .volumeInfo.imageLinks "medium"}}
                      <img src="{{ replace .volumeInfo.imageLinks.medium `http` `https`}}" alt="" class="img-responsive">
                      {{ else if isset .volumeInfo.imageLinks "thumbnail"}}
                      <img src="{{ replace .volumeInfo.imageLinks.thumbnail `http` `https`}}" alt="" class="img-responsive">
                      {{ else }}
                      <div>
                        <h3>{{.volumeInfo.title}}</h3>
                        <h6>{{ index .volumeInfo.authors 0}}</h6>
                      </div>
                      {{ end }}
                      </a>
                    {{ if eq .showonlyimage true }}
                    <div class="box-masonry-hover-text-header">
                    {{ else }}
                    <div class="box-masonry-text">
                    {{ end }}
                        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                        <div class="box-masonry-description">
                          <p>
                              {{.volumeInfo.title}}
                          </p>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
      </div>
  </div>
</div>
