{{ $book := index .Site.Data.books (.Get 0) }}
<div>
  <h2> {{$book.volumeInfo.title}} </h2>
  <h4> {{$book.volumeInfo.subtitle}} </h4>
  <h6> by {{ index $book.volumeInfo.authors 0}}</h6>
  <h6> Pages: {{ $book.volumeInfo.pageCount}}</h6>
  {{ if isset $.Page.Params "rating" }}
  <h6> Rating: {{ $.Page.Params.rating }} </h6>
  {{ end }}
  <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
<script type="text/javascript">
    google.books.load();
    function initialize() {
    var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
    viewer.load({{ printf "%s%s" "ISBN" (index $book.volumeInfo.industryIdentifiers 0).identifier}},function notFound(){
      document.querySelector("#viewerCanvas").style = "display:none";
    });
    }
    google.books.setOnLoadCallback(initialize);
</script>
<div id="viewerCanvas" style="width: 800px; height: 500px"></div>
<!--{{ safeHTML $book.volumeInfo.description }}-->
</div> 